#root {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.header-logo {
  height: 4rem;
}

.whole-pg-cont {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

.just-sp-bw-70vh {
  height: 70vh;
  justify-content: space-evenly;
}

.scroll {
  height: 85vh;
  overflow: scroll;
  margin-bottom: 3rem;
}

.col {
  display: flex;
  flex-direction: column;
}

.header-cont {
  height: 23vh;
}

.header-logo-cont {
  display: flex;
  justify-content: center;
}

.pg-id-cont {
  justify-content: start;
  align-items: center;
  flex-basis: 50%;
}

.pg-id-img-cont {
  display: flex;
  align-items: center;
  width: 100%;
}

.create-cont {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-basis: 50%;
}

.footer-cont {
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-top: auto;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3rem;
  z-index: 2;
}

.footer-icon {
  width: 2rem;
  margin: 0.5rem;
}

.indicator-circle {
  height: 3rem;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
}

.just-align-center {
  justify-content: center;
  align-items: center;
}

.menu-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 33%;
  z-index: 3;
}

.menu-header-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-icon-cont {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}

.menu-txt {
  text-align: center;
  margin: 0;
}

.menu-footer-cont {
  text-align: center;
}

.menu-header-logo {
  width: 4rem;
}

.menu-icon-img {
  width: 2rem;
}

.menu-icon-txt {
  text-align: center;
}

.fa-angle-double-left {
  width: 100%;
  text-align: right;
}

.exp-form-cont {
  width: 80%;
  z-index: 1;
  margin: auto;
  min-width: 18rem;
  max-width: 25rem;
}

.exp-form {
  padding: 1rem;
  margin: 0.5rem;
}

.padding-extra {
  padding: 0.5rem 1rem 0 2rem;
}

.no-padding {
  padding: 0;
}

.form-label {
  padding: 0.5rem 0.25rem;
}

.form-input {
  min-width: 90%;
  height: 2rem;
}

.form-input-extra-padding {
  padding-top: 1rem;
}

.form-label-txt {
  margin: 0.25rem;
}

.button-cont {
  justify-content: space-between;
  padding: 0.5rem;
  align-items: center;
  height: 4rem;
}

.sm-button {
  height: 2.5rem;
  width: 5.5rem;
}

.table-cont {
  justify-content: center;
}

.table-header {
  margin: 0 1rem;
  display: flex;
  justify-content: space-between;
}

.table-txt {
  text-align: center;
}

.table-item {
  justify-content: space-between;
  margin: 0 1rem;
  align-items: center;
}

.flex-10 {
  flex-basis: 10%;
}

.flex-30 {
  flex-basis: 30%;
}

.flex-40 {
  flex-basis: 40%;
  justify-content: space-evenly;
}

.flex-90 {
  flex-basis: 90%;
}

.flex-100 {
  flex-basis: 100%;
}

.fa-ellipsis-v {
  text-align: center;
}

.form-input::placeholder {
  text-align: left;
  padding-left: 0.25rem;
}

.disp-none {
  display: none;
}

.x-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.modal-cont {
  max-height: 20rem;
}

.modal-icon-cont {
  text-align: center;
  flex-direction: row;
}

.acc-set-button-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
  padding: 0;
}

.lrg-button {
  display: flex;
  align-items: center;
  flex-basis: 100%;
  max-height: 2.75rem;
  min-width: 18rem;
}

ul.no-bullets > li {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 3rem;
}

.budget-width {
  width: 80%;
  max-width: 20rem;
}

.align-center {
  align-items: center;
}

.budget-info-cont {
  align-items: center;
  height: 25vh;
  justify-content: space-evenly;
  width: 80%;
  margin: 2rem auto;
  min-width: 18rem;
  max-width: 25rem;
}

.just-cent {
  display: flex;
  justify-content: center;
}

.summary-dropdown-title {
  margin: 0;
}

.text-center {
  text-align: center;
}

.padding-1rem {
  padding: 1rem;
}

.z-2 {
  z-index: 2;
}

.margin-0-cent {
  margin: 0 auto;
}

.summary-info-cont {
  align-items: center;
  min-width: 18rem;
  max-width: 25rem;
}
