.header-cont {
  background-image: linear-gradient(rgb(68 170 68 / 58%), rgb(68 170 68 / 5%), rgb(68 170 68 / 0%));
  padding: 0.5rem;
}

.header-bars {
  color: #8a8a8a6e;
  font-size: 2rem;
}

.pg-id-txt {
  font-family: noto-sans, sans-serif;
  font-weight: 700;
  color: #29292960;
  font-size: 0.75rem;
  margin: 0 0.5rem;
  text-decoration: none;
}

.pg-id-img {
  width: 15%;
  opacity: 60%;
  max-width: 4rem;
}

.create-icon {
  font-size: 2rem;
  color: #29292960;
}

.footer-cont {
  border: 0.15rem solid rgb(0 0 0 / 40%);
  background-color: #d9cab345;
}

.indicator-circle {
  border-radius: 50%;
  background-color: #0e9aa745;
}

.overlay {
  background: linear-gradient(transparent, rgb(0 0 0 / 75%));
}

.menu-cont {
  background-color: white;
}

.menu-txt {
  font-family: Oswald, sans-serif;
  font-weight: 300;
}

.menu-footer-cont {
  font-size: 0.5rem;
  background-color: white;
}

.exp-form-cont {
  border-radius: 3rem;
  filter: drop-shadow(0 0 0.25rem black);
  background-color: white;
}

.exp-toggle-txt {
  font-family: noto-sans, sans-serif;
  color: #292929c0;
  font-weight: 700;
  font-size: 0.5rem;
  filter: drop-shadow(0 0 2rem rgb(0 0 0 / 15.1%));
}

.toggle-highlight {
  background-color: #0e9aa765;
  border: 0.05rem solid rgb(0 0 0 / 26.7%);
}

.form-input {
  border: 0.01rem solid #0e9aa7;
  filter: drop-shadow(0 0.1rem 0.1rem #29292960);
  background-color: white;
  border-radius: 5rem;
}

.form-label-txt {
  font-family: noto-sans, sans-serif;
  font-size: 0.5rem;
}

.sm-button {
  background-color: #efe9df;
  border-radius: 1.25rem;
}

.form-input::placeholder {
  font-family: noto-sans, sans-serif;
  font-weight: 700;
  color: #29292960;
}

.shaded {
  background-color: #f2f2f275;
}

.table-header {
  font-size: 0.85rem;
}

.table-txt {
  font-family: noto-sans, sans-serif;
  font-size: 0.75rem;
  font-weight: 100;
  padding: 0 0.5rem;
}

.table-item {
  border-radius: 1rem;
}

.disp-none {
  color: #f2f2f200;
}

.x-button {
  color: #f2f2f2;
  font-size: 2rem;
}

.modal-icon-cont {
  background-color: white;
  border: 0.1rem solid #0e9aa7;
}

.fa-trash-alt {
  color: #ff532f;
}

.fa-edit {
  color: #0e9aa7;
}

.white-bkgrd {
  background-color: white;
  border: none;
}

.lrg-button {
  border-radius: 1rem;
  background-color: #0e9aa745;
}

.lrg-button-txt {
  font-family: noto-sans, sans-serif;
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
}

ul.no-bullets {
  list-style-type: none;
}

ul.no-bullets > li > a {
  text-decoration: none;
}

.oswald-semi-bld {
  font-family: Oswald, sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
}

.oswald-norm {
  font-family: Oswald, sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

.budget-info-cont {
  border-radius: 1rem;
  filter: drop-shadow(0 0 0.25rem black);
  background-color: white;
}

.summary-dropdown-title {
  font-size: 0.75rem;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

i:hover,
.sm-button:hover,
.exp-toggle-txt,
.form-input:hover,
.header-bars:hover,
.create-icon:hover,
.x-button,
.header-logo-cont:hover {
  cursor: pointer;
}
